
watt_measurements/machine_interface.py
watt_measurements/backup/__init__.py
watt_measurements/backup/cpu_tempwatt_meter_1.csv
watt_measurements/backup/cpu_tempwatt_meter_2.csv
watt_measurements/backup/cpu_tempwatt_meter_3.csv
watt_measurements/backup/cpu_tempwatt_meter_4.csv
watt_measurements/backup/DFRobot_INA219.py
watt_measurements/backup/final_pomiary_class.py
watt_measurements/backup/i2c_stm.py
watt_measurements/backup/pawel_testy.py
watt_measurements/backup/pusty_skrypt.py
watt_measurements/final_pomiary_class_scrap.py
watt_measurements/hotplug/barcode.py
watt_measurements/hotplug/base.py
watt_measurements/hotplug/definitions.py
watt_measurements/hotplug/enums.py
watt_measurements/hotplug/machine_interface.py
watt_measurements/hotplug/modbus.py
watt_measurements/hotplug/pressure.py
watt_measurements/hotplug/process_state.py
watt_measurements/MCP342x/__init__.py
watt_measurements/MCP342x/__pycache__/.pyc
watt_measurements/MCP342x/__pycache__/__init__.cpython-35.pyc
watt_measurements/mcp_git/rpi-ADCboard/
watt_measurements/mcp_git/mcp3424/
watt_measurements/mcp_git/linux_iio_mcp3422/
watt_measurements/measurement_reports/raw_report_msrmnt_set_1.csv
watt_measurements/measurement_reports/raw_report_msrmnt_set_2.csv
watt_measurements/measurement_reports/raw_report_msrmnt_set_3.csv
watt_measurements/measurement_reports/raw_report_msrmnt_set_4.csv
watt_measurements/measurement_reports/raw_report_msrmnt_set_5.csv
watt_measurements/measurement_reports/raw_report_msrmnt_set_6.csv
watt_measurements/measurement_reports/report_msrmnt_set_1.csv
watt_measurements/measurement_reports/report_msrmnt_set_2.csv
watt_measurements/measurement_reports/report_msrmnt_set_3.csv
watt_measurements/measurement_reports/report_msrmnt_set_4.csv
watt_measurements/measurement_reports/report_msrmnt_set_5.csv
watt_measurements/measurement_reports/report_msrmnt_set_6.csv
watt_measurements/Nowy folder/final_pomiary_class.py
watt_measurements/pawel_testy.py
watt_measurements/VADC_MCP_diagnotyka.py
watt_measurements/gpio_pinout.py
